@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

/* banner section style starts here  */
.banner-container {
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/new-year.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
}

.banner-content p,
h1 {
    color: white;
    font-size: 72px;
    font-weight: 900px;
}

.banner-content p {
    font-size: 32px;
    font-weight: 4 00;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
}

/* second section style start here  */
.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* midnight section styles starts here  */
.midnight-party-container {
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    background-image: url("../images/Vectorrr.png");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    margin-top: 80px;
}

.leftside-content {
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.leftside-content h1 {
    columns: white;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;

}

.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 55px;
    margin-bottom: 10px;
}

.rightside-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.rightside-content img {
    width: 349px;
    height: 464.65px;

}

#midnight-button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 400px;
}

/* place styles starts here  */
.place-container {
    position: absolute;
    width: 1320px;
    height: 482px;
    margin: 120px 155px 120px 105px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);

}

.place-content {
    width: 549px;
    height: 272px;
    margin: 100px 386px 214px 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 60
}


.place-button {
    background-color: red;
    color: white;
    position: relative;
    width: 100px;
    height: 30px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.place-title-color {
    color: red;
}

/* coming soon styles starts here  */

.coming-soon-container {
    position: absolute;
    width: 1320px;
    height: 463px;
    margin: 120px 155px 120px 105px;
    top: 3000px;
    bottom: 3080px;
    display: flex;
}

.coming-soon-left-content {
    width: 33%;
    width: 393px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px;
    margin-top: 93px;
    gap: 10px;

}

.coming-soon-left-content h5 {
    color: red;
    font-family: Inter;
    font-size: 13px;
    font-weight: 700;
}

.coming-soon-left-content h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
}

.coming-soon-left-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.coming-soon-miiddle-content {
    width: 33%;
    box-sizing: border-box;
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    width: 490px;
    height: 463px;
    background-image: url("../images/Ellipse\ 1.png");
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
    margin-left: 150px;
}


.coming-soon-right-content {
    width: 33%;
    width: 250px;
    margin-left: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}

.coming-soon-right-content h2 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    margin-top: 100px;
}

.coming-soon-right-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
}

.coming-soon-right-content img {
    margin-top: 100px;
}

/* holiday styles  */
.holiday-section-container {
    position: absolute;
    width: 1320px;
    height: 986.07px;
    border: 2px solid red;
    left: 120px;
    right: 180px;
    top: 3720px;
    bottom: -3601px;
}

.holiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;
}

.holiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-text-container h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

.holiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.solid-color {
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}

.gift-box {
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;

}
.girl-container{
    height: 429px;
    width: 433px;
    left: 29%;
    top: 11%;
    position: relative;
}
.discount{
    position: absolute;
    bottom: 30%;
    left: 108%;
    z-index: 1;
}